services:
  frontend:
    image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_FRONTEND}:${TAG:-latest}
    restart: always
    ports:
      - "80:80"
    env_file:
      - .env
    networks:
      - default
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://api.${DOMAIN}
        - NODE_ENV=production

  backend:
    image: ${DOCKER_REGISTRY}/${DOCKER_IMAGE_BACKEND}:${TAG:-latest}
    restart: always
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - default
    build:
      context: ./backend
      args:
        - PROJECT_NAME=${PROJECT_NAME}
        - DOMAIN=${DOMAIN}
        - FRONTEND_HOST=${FRONTEND_HOST?Variable not set}
        - ENVIRONMENT=${ENVIRONMENT}
        - BACKEND_CORS_ORIGINS=${BACKEND_CORS_ORIGINS}
        - SECRET_KEY=${SECRET_KEY?Variable not set}
        - FIRST_SUPERUSER=${FIRST_SUPERUSER?Variable not set}
        - FIRST_SUPERUSER_PASSWORD=${FIRST_SUPERUSER_PASSWORD?Variable not set}
        - SMTP_HOST=${SMTP_HOST}
        - SMTP_USER=${SMTP_USER}
        - SMTP_PASSWORD=${SMTP_PASSWORD}
        - EMAILS_FROM_EMAIL=${EMAILS_FROM_EMAIL}
        - POSTGRES_SERVER=${POSTGRES_SERVER?Variable not set}
        - POSTGRES_PORT=${POSTGRES_PORT}
        - POSTGRES_DB=${POSTGRES_DB}
        - POSTGRES_USER=${POSTGRES_USER?Variable not set}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD?Variable not set}
